<div id="pagePayments">
    <div class="alertbar">
        <!-- Payout frequency has been changed to 4 hours because miners have been mining to exchange addresses&#8230;-->
        <!-- Block Reward Halving occured at block <a href="https://explorer.pirate.black/block/00000000004332fdca73719414e6e595c5f9f909bf39df5ff68f56b008b29790" target="_blank" rel="nofollow noreferrer noopener">388,885</a>!! Join <a href="https://discord.gg/ASMfX7B" target="_blank" rel="nofollow noreferrer noopener" class="highlight">#piratepool</a> for support and discussion! 🐸 -->
        Payout strategy changed to PPLNT with 1 hour payout frequency! Join <a href="https://discord.gg/ASMfX7B" target="_blank" rel="nofollow noreferrer noopener" class="highlight">#piratepool</a> for support and discussion! 🐸
    </div>
    {{ for(var pool in it.stats.pools) { }}
        <div class="poolLabel">
            {{=it.stats.pools[pool].name}} Payments<span class="responsivehide"> &#160;&#160;</span><br class="responsiveonly" />
            <small>
                Lifetime<br class="responsiveonly" />
                <i class="fas fa-link fa-fw"></i> <span id="statsValidBlocks{{=pool}}">{{=parseInt(it.stats.pools[pool].poolStats.validBlocks).toLocaleString('en')}}</span> Blocks Found<span class="responsivehide"> &#160;&#160;</span><br class="responsiveonly" />
                <i class="fas fa-money-bill-wave fa-fw"></i> <span id="statsTotalPaid{{=pool}}">{{=parseInt(it.stats.pools[pool].poolStats.totalPaid).toLocaleString('en')}}</span> {{=it.stats.pools[pool].symbol}} Paid<span class="responsivehide"> &#160;&#160;</span><br class="responsiveonly" />
            </small>
        </div>
        <table class="pure-table" id="paymentTable{{=pool}}">
            <thead>
                <tr>
                    <th>Blocks</th>
                    <th>Time</th>
                    <th>Miners</th>
                    <th>Shares</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
            {{ for(var p in it.stats.pools[pool].payments) { }}
                <tr id="payment{{=pool}}{{=it.stats.pools[pool].payments[p].time}}">
                    <td class="paymentblocks{{if (it.stats.pools[pool].payments[p].blocks.length > 9) { }} paymentblocksexpand{{ } }}" title="Blocks:{{=it.stats.pools[pool].payments[p].blocks.length}} {{=it.stats.pools[pool].payments[p].opid}}">
                        <span class="responsiveTableLabel"><i class="fas fa-link fa-fw"></i></span> <span>Blocks: [{{=it.stats.pools[pool].payments[p].blocks.length}}] </span>
                        {{if (String(it.stats.pools[pool].name) == "KMD") { }}
                            <a href="https://kmdexplorer.io/tx/{{=it.stats.pools[pool].payments[p].txid}}" target="_blank" rel="noopener noreferrer">{{=it.stats.pools[pool].payments[p].blocks}}</a>
                        {{ } else if (typeof it.stats.pools[pool].payments[p].txid !== 'undefined' && (String(it.stats.pools[pool].name).startsWith("pirate") || String(it.stats.pools[pool].name).startsWith("arrr")) ) { }}
                            <a href="https://explorer.pirate.black/tx/{{=it.stats.pools[pool].payments[p].txid}}" target="_blank" rel="noopener noreferrer">{{=it.stats.pools[pool].payments[p].blocks}}</a>
                        {{ } else { }}
                            <a>{{=it.stats.pools[pool].payments[p].blocks}}</a>
                        {{ } }}
                        <div class="fade">&#9660;</div>
                    </td>
                    <td><span class="responsiveTableLabel"><i class="far fa-clock fa-fw"></i> Time: </span>{{=it.stats.pools[pool].payments[p].time}}</td>
                    <td><span class="responsiveTableLabel"><i class="fas fa-users fa-fw"></i> Miners: </span>{{=it.stats.pools[pool].payments[p].miners}}</td>
                    <td><span class="responsiveTableLabel"><i class="fas fa-cog fa-fw"></i> Shares: </span>{{=it.stats.pools[pool].payments[p].shares}}</td>
                    <td><span class="responsiveTableLabel"><i class="fas fa-money-bill-wave fa-fw"></i> Amount: </span>{{=it.stats.pools[pool].payments[p].paid}} {{=it.stats.pools[pool].symbol}}</td>
                </tr>
            {{ } }}
            </tbody>
        </table>
    {{ } }}

    <script>
        document.querySelector('main').appendChild(document.createElement('script')).src = '/static/payments.js';
    </script>
</div>
