<style>
#topCharts {
        padding: 18px;
    }

    #topCharts > div > div > svg {
        display: block;
        height: 280px;
    }

    .chartWrapper {
        border: solid 1px #c7c7c7;
        border-radius: 5px;
        padding: 5px;
        margin-bottom: 18px;
    }

    .chartLabel {
        font-size: 1.2em;
        text-align: center;
        padding: 4px;
    }

    .chartHolder {

    }

    table {
        width: 90%;
    }

 .odd{background-color: #2d333b;} 

//  .even{background-color: #3e444c;} 

</style>
<script>
function alternate(id){ 

  if(document.getElementsByTagName){  
    var table = document.getElementById(id);   
    var rows = table.getElementsByTagName("tr");   
    for(i = 0; i < rows.length; i++){           
  //manipulate rows 
      if(i % 2 == 0){ 
        rows[i].className = "even"; 
      }else{ 
        rows[i].className = "odd"; 
      }       
    } 
  } 
}
</script>
   <div class="alertbar"><BR><BR> </div>


<div id="pagePayments">
<!--
    {{ for(var pool in it.stats.pools) { }}
        <div class="poolLabel">
            {{=it.stats.pools[pool].name}} Payments<span class="responsivehide"> &#160;&#160;</span><br class="responsiveonly" />
            <small>
                Lifetime<br class="responsiveonly" />
                <th class="fas fa-link fa-fw"></i> <span id="statsValidBlocks{{=pool}}">{{=parseInt(it.stats.pools[pool].poolStats.validBlocks).toLocaleString('en')}}</span> Blocks Found<span class="responsivehide"> &#160;&#160;</span><br class="responsiveonly" />
                <th class="fas fa-money-bill-wave fa-fw"></i> <span id="statsTotalPaid{{=pool}}">{{=parseInt(it.stats.pools[pool].poolStats.totalPaid).toLocaleString('en')}}</span> {{=it.stats.pools[pool].symbol}} Paid<span class="responsivehide"> &#160;&#160;</span><br class="responsiveonly" />
            </small>
        </div>
-->


<body onload="alternate('table')">


<div class="container-fluid pt-4">
 <div class="row">
  <div class="col-md-12 pl-0 pr-0">
   <table id="table" class="table table-bordered table-responsive-lg">

<!--paymentTable{{=pool}}-->
            <thead>
                <tr>
                    <th colspan="1" scope="col" style="text-align: center;">Blocks</th>
                    <th colspan="1" scope="col" style="text-align: center;">Time</th>
                    <th colspan="1" scope="col" style="text-align: center;">Miners</th>
                    <th colspan="1" scope="col" style="text-align: center;">Shares</th>
                    <th colspan="1" scope="col" style="text-align: center;">Amount</th>
                </tr>
            </thead>
            <tbody>
            {{ for(var p in it.stats.pools[pool].payments) { }}
                <tr id="payment{{=pool}}{{=it.stats.pools[pool].payments[p].time}}">
                    <td class="paymentblocks{{if (it.stats.pools[pool].payments[p].blocks.length > 9) { }} paymentblocksexpand{{ } }}" title="Blocks:{{=it.stats.pools[pool].payments[p].blocks.length}} {{=it.stats.pools[pool].payments[p].opid}}">
                        <span class="responsiveTableLabel"><i class="fas fa-link fa-fw"></i></span> <span>Blocks: [{{=it.stats.pools[pool].payments[p].blocks.length}}] </span>
                        {{if (String(it.stats.pools[pool].name) == "KMD") { }}
                            <a href="https://kmdexplorer.io/tx/{{=it.stats.pools[pool].payments[p].txid}}" target="_blank" rel="noopener noreferrer">{{=it.stats.pools[pool].payments[p].blocks}}</a>
                        {{ } else if (typeof it.stats.pools[pool].payments[p].txid !== 'undefined' && (String(it.stats.pools[pool].name).startsWith("pirate") || String(it.stats.pools[pool].name).startsWith("arrr")) ) { }}
                            <a href="https://explorer.pirate.black/tx/{{=it.stats.pools[pool].payments[p].txid}}" target="_blank" rel="noopener noreferrer">{{=it.stats.pools[pool].payments[p].blocks}}</a>
                        {{ } else { }}
                            <a>{{=it.stats.pools[pool].payments[p].blocks}}</a>
                        {{ } }}
                        <div class="fade">&#9660;</div>
                    </td>
                    <td><span class="responsiveTableLabel"><i class="far fa-clock fa-fw"></i> Time: </span>{{=it.stats.pools[pool].payments[p].time}}</td>
                    <td><span class="responsiveTableLabel"><i class="fas fa-users fa-fw"></i> Miners: </span>{{=it.stats.pools[pool].payments[p].miners}}</td>
                    <td><span class="responsiveTableLabel"><i class="fas fa-cog fa-fw"></i> Shares: </span>{{=it.stats.pools[pool].payments[p].shares}}</td>
                    <td><span class="responsiveTableLabel"><i class="fas fa-money-bill-wave fa-fw"></i> Amount: </span>{{=it.stats.pools[pool].payments[p].paid}} {{=it.stats.pools[pool].symbol}}</td>
                </tr>
            {{ } }}
            </tbody>
        </table>
    {{ } }}
		</div>
	</div>
</div>
    <script>
        document.querySelector('main').appendChild(document.createElement('script')).src = '/static/payments.js';
    </script>
</div>
