[Unit]
Description=Geoip-exporter for Prometheus
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=Always
ExecStart=/usr/local/bin/geoip-exporter 

[Install]
WantedBy=multi-user.target

